html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}

html {
  font-size: 15px;
  @apply text-gray-800;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply font-bold;
}

.h1 {
  @apply text-4xl font-bold;
}
.h2 {
  @apply text-2xl font-semibold;
}
.h3 {
  @apply text-lg font-semibold;
}
.h4 {
  @apply text-base font-semibold;
}
.h5 {
  @apply text-base font-semibold;
}
.h6 {
  @apply text-sm font-semibold;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}
